extends layout

block content
  h1 #{title}
  h2 #[strong Номер заказа:] #{id}
  span.text_danger ЗАПОМНИТЕ ЭТОТ НОМЕР! БЕЗ НОМЕРА НЕЛЬЗЯ БУДЕТ ОТМЕНИТЬ ИЛИ ИЗМЕНИТЬ ЭТОТ ЗАКАЗ!
  p
    a (href='/') На главную
