extends layout

block content
  h1 #{title}
  h2 #[strong Номер заказа:] #{purchase._id}
  span.text-danger ЗАПОМНИТЕ ЭТОТ НОМЕР! БЕЗ НОМЕРА НЕЛЬЗЯ БУДЕТ ОТМЕНИТЬ ИЛИ ИЗМЕНИТЬ ЭТОТ ЗАКАЗ!
  p
    a(href=purchase.url) На страничку заказа
