body {
  margin: 0;
  font: 14px "Сomic Sans MS", "Comic Sans", cursive;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

a:hover {
  background-color: #f7f21a;
  color: #000;
  text-decoration: none;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  width: 300px;
  background-color: #f1f1f1;
}

.navbar_n {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-item {
  list-style-type: none;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 2rem;
  color: #000000;
  text-decoration: none;
  list-style-type: none;
  min-height: 5rem;
}

.bd-navbar {
  position: sticky;
  top: 0;
  z-index: 1071;

  min-height: 5rem;
  background-color: #f7f21a;
}

.flex-md-row {
  -webkit-box-orient: horizontal!important;
  -webkit-box-direction: normal!important;
  -ms-flex-direction: row!important;
  flex-direction: row!important;
}

.navbar-expand {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.table-list {
  list-style: none;
}

.list-element {
  display: block;
  padding: 8px 0 8px 16px;
  text-decoration: none;
}

.dish-table-photo {
  width: 140px;
  height: 200px;
  border: 3px solid;

  border-radius: 10px;
}

.dish-full-photo {
  width: 350px;
  height: 500px;
}

.dish-table-row {
  text-align: center;
}

.tables {
  width: 100%;
  border: 1px solid black;
}
